@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url(../fonts/Ubuntu-Regular.woff);
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url(../fonts/Ubuntu-Bold.woff);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-style: normal;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu";
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  width: 123rem;
  margin: 0 auto;
}

.title {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.9rem;
}

.description {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #ff5a30;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5rem 3.2rem;
  line-height: 1;
}
.button:hover {
  background-color: #FC3300;
}
.button--large {
  font-size: 1.6rem;
  padding: 1.8rem 4rem;
}

.slider-btn {
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  transition: all 0.2s;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-text-stroke-width: thick;
}

.outline-btn {
  cursor: pointer;
  border: 1px solid #ff5a30;
  border-radius: 4px;
  color: #ff5a30;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 3.2rem;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s;
}
.outline-btn:hover {
  background-color: #ff5a30;
  color: #fff;
}

.logo {
  display: inline-block;
  width: 13rem;
}

.header {
  padding: 2.2rem 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  margin-right: 6rem;
}

.nav__list {
  display: flex;
}
.nav__list li:not(:last-child) {
  margin-right: 4rem;
}
.nav__item {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 2.5rem;
}
.nav__item--active {
  color: #ff5a30;
}
.nav__item:hover {
  color: #ff5a30;
}
.nav__actions {
  display: flex;
  margin: 0 0 0 auto;
}
.nav__actions li:not(:last-child) {
  margin-right: 3.6rem;
}
.nav__action {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.nav__action:hover .nav__action--contacts {
  color: #ff5a30;
}
.nav__action::before {
  content: "";
  display: block;
  margin-right: 1.2rem;
  width: 4rem;
  height: 4rem;
  background-position: center top;
  background-size: 4rem 4rem;
}
.nav__action--tel {
  background-image: url(../img/header--tel.svg);
}
.nav__action--email {
  background-image: url(../img/header--email.svg);
}
.nav__action--name {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
}
.nav__action--contacts {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.main__main {
  height: 98.8rem;
  position: relative;
}
.main__wrapper {
  width: 64vw;
}
.main__slide {
  width: 100vw;
  padding-top: 22rem;
  min-width: 100vw;
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
}
.main__slide-wrapper {
  width: 57.7rem;
}
.main__slider-wrapper {
  height: 100%;
  display: flex;
  transition: transform 1s cubic-bezier(0.33, 1, 0.68, 1);
}
.main__header {
  font-size: 7.2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 9.3rem;
  margin-bottom: 2.4rem;
}
.main__header--primary {
  color: #ff5a30;
}
.main__description {
  font-size: 2rem;
  color: #fff;
  line-height: 3rem;
  margin-bottom: 6rem;
}
.main__buttons {
  display: flex;
}
.main__btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.8rem 4rem;
  text-transform: uppercase;
}
.main__btn:not(:last-child) {
  margin-right: 2.4rem;
}
.main__btn:hover {
  border: 1px solid #ff5a30;
  background-color: #ff5a30;
}
.main__slider {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.main__slider-counter {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
}
.main__slider-counter-wrapper {
  position: absolute;
  left: 0;
  bottom: 12rem;
  z-index: 3;
  width: 100%;
}
.main__slider-count {
  width: 17.8rem;
  background-image: linear-gradient(to right, #fff, #fff 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-size: 200% 2px;
  background-position-y: bottom;
  background-position-x: right;
  font-size: 2.8rem;
  padding: 0.7rem 0;
  transition: all 1s;
}
.main__slider-count:not(:last-child) {
  margin-right: 0.4rem;
}
.main__slider-count--active {
  color: #fff;
  background-position-x: left;
}
.main__slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 3.2rem;
  display: flex;
  justify-content: space-between;
}
.main__slider-btn {
  background-color: rgba(255, 255, 255, 0.5);
}
.main__slider-btn:hover {
  background-color: #fff;
}

.video {
  padding-top: 12rem;
  text-align: center;
  margin-bottom: 18rem;
}
.video__title {
  margin-bottom: 2.4rem;
}
.video__description {
  margin-bottom: 6rem;
}
.video__video {
  position: relative;
}
.video__video:has(.video__btn-play:hover) .video__overlay {
  filter: none;
}
.video__overlay {
  filter: brightness(50%);
  border-radius: 4px;
}
.video__btn-play {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-image: url(../img/video--btn-play.svg);
  background-position: center center;
  background-size: 2.6rem 2.6rem;
  border: none;
  background-color: #ff5a30;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.video__btn-play:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: #FC3300;
}
.video__btn-volume {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 3.2rem;
  bottom: 3.2rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.13);
  cursor: pointer;
}
.video__btn-volume:hover svg path {
  fill: #000;
}
.video__btn-volume .volume--off {
  display: none;
}
.video__btn-volume--off .volume--off {
  display: inline;
}
.video__btn-volume--off .volume--on {
  display: none;
}

.core {
  text-align: center;
}
.core__title {
  margin-bottom: 2.4rem;
}
.core__description {
  margin-bottom: 6rem;
}
.core__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16.8rem;
}
.core__divider {
  width: 1px;
  background: linear-gradient(to bottom, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #dadbdd 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}

.card {
  width: 28.5rem;
}
.card__description {
  font-size: 1.6rem;
  line-height: 2.56rem;
}
.card__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 0.8rem;
}
.card__title::before {
  content: "";
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background-position: center;
  background-size: 4.8rem 4.8rem;
  margin: 0 auto 2.4rem;
}
.card__title--quality::before {
  background-image: url(../img/core--quality.svg);
}
.card__title--safety::before {
  background-image: url(../img/core--safety.svg);
}
.card__title--comfort::before {
  background-image: url(../img/core--comfort.svg);
}

.form {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  border-radius: 4px;
  background-color: #fff;
  z-index: 3;
  position: relative;
  padding-bottom: 4.8rem;
}
.form__title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin-bottom: 3.2rem;
}
.form__form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form__field {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form__field:not(:last-child) {
  margin-right: 2.4rem;
}
.form__label {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 0.8rem;
}
.form__input, .form__textarea {
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 26rem;
  background-color: #f4f5f6;
  resize: none;
  transition: all 0s;
}
.form__input:focus, .form__textarea:focus {
  outline: 2px solid #ff5a30;
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  color: #9a9ca5;
}
.form__input::placeholder, .form__textarea::placeholder {
  color: #9a9ca5;
}
.form__input--long, .form__textarea--long {
  width: 41.4rem;
}
.form__checkbox {
  display: none;
}
.form__check-label {
  font-size: 1.4rem;
  line-height: 150%;
  display: flex;
}
.form__check-label::before {
  content: "";
  display: block;
  min-width: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 4px;
  margin-top: 0.3rem;
  margin-right: 1.2rem;
  border: 1px solid #ff5a30;
  background-image: url(../img/form--checkbox.svg);
  background-position: center center;
  background-size: 1.1rem 1.2rem;
}
.form__checkbox:checked + .form__check-label::before {
  background-color: #ff5a30;
}

.finalBlock {
  display: flex;
  justify-content: center;
}
.finalBlock__text {
  font-size: 2.8rem;
  line-height: 150%;
  font-weight: 700;
  margin-right: 4rem;
}

.services {
  margin-top: -9.2rem;
  background-image: url(../img/services--bg.jpg);
  background-size: cover;
  padding-top: 21.2rem;
  padding-bottom: 8.5rem;
}
.services__wrapper {
  text-align: center;
}
.services__title {
  margin-bottom: 2.4rem;
}
.services__description {
  margin-bottom: 6rem;
}
.services__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.5rem;
}

.service {
  width: 28.5rem;
  height: 28.5rem;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.service::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  transition: opacity 0.5s;
}
.service__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.service:hover .service__title {
  color: #fff;
}
.service:hover .service__icon path {
  fill: #fff;
}
.service:hover::before {
  opacity: 0;
}
.service__img {
  filter: brightness(0.6);
}
.service__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.service__icon {
  width: 5.2rem;
  height: 5.2rem;
  margin-bottom: 2.4rem;
}

.projects {
  padding: 12rem 0;
}
.projects__slider {
  overflow: hidden;
  padding-bottom: 8rem;
}
.projects__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6rem;
}
.projects__slider-btn {
  background-color: transparent;
}
.projects__slider-btn:hover {
  background-color: #ff5a30;
  color: #fff;
}
.projects__slider-wrapper {
  display: flex;
  gap: 3rem;
  transition: all 0.2s;
}

.project {
  width: 39rem;
  min-width: 39rem;
  height: 41.6rem;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.project:hover {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}
.project:hover .project__btn {
  display: inline;
}
.project:hover .project__description {
  margin-bottom: 2.4rem;
}
.project__info {
  padding: 1.6rem 0 2.4rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.project__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 0.4rem;
}
.project__description {
  line-height: 150%;
  font-size: 1.4rem;
}
.project__btn {
  display: none;
}
.project__img {
  height: 34.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  background-color: #f4f5f6;
  padding-top: 8rem;
  text-align: center;
}
.partners__title {
  margin-bottom: 3.2rem;
}
.partners__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15.2rem;
}
.partners__partner {
  width: 17.4rem;
}
.partners__content {
  display: flex;
  align-items: flex-start;
}
.partners__slider {
  width: 60rem;
  min-width: 60rem;
  text-align: left;
  position: relative;
  margin-right: 13.5rem;
  overflow: hidden;
}
.partners__slider-wrapper {
  display: flex;
}
.partners__slider-btns {
  position: absolute;
  bottom: 0;
  right: 0;
}
.partners__slider-btn {
  background-color: transparent;
}
.partners__slider-btn:hover {
  background-color: #ff5a30;
  color: #fff;
}
.partners__slide {
  min-width: 60rem;
}
.partners__slide-title {
  margin-bottom: 6rem;
}
.partners__avatar {
  width: 7.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2.4rem;
}
.partners__description {
  font-size: 1.6rem;
  line-height: 160%;
  margin-bottom: 2.4rem;
  color: #424551;
}
.partners__name {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 0.4rem;
}
.partners__job {
  font-size: 1.4rem;
  color: #787A80;
  line-height: 150%;
}
.partners__img {
  width: 49.5rem;
}

.facts {
  padding: 18rem 0;
  margin-top: -6rem;
  text-align: center;
}
.facts-n-news {
  background-image: url(../../img/facts--bg.png);
  background-position: 0 -18rem;
  background-color: #fff;
}
.facts__title {
  margin-bottom: 6rem;
}
.facts__list {
  display: flex;
  justify-content: center;
}
.facts__item:not(:last-child) {
  margin-right: 4.8rem;
}
.facts__chart {
  width: 14.8rem;
  height: 14.8rem;
  position: relative;
  margin-bottom: 2rem;
}
.facts__stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 150%;
}
.facts__text {
  font-size: 1.4rem;
  line-height: 150%;
}

.news {
  padding-bottom: 12.5rem;
}
.news__wrapper {
  width: 126rem;
  padding: 0 1.5rem;
}
.news__title {
  margin-bottom: 6rem;
  text-align: center;
}
.news__content {
  display: flex;
  margin-bottom: 8rem;
}
.news__big {
  width: 70.5rem;
  margin-right: 3rem;
}
.news__big .news__info-block {
  margin-bottom: 1.6rem;
}
.news__small .news__item {
  margin-bottom: 3rem;
}
.news__container {
  padding: 0 2.4rem 2.4rem;
}
.news__container--big {
  padding-top: 2.4rem;
}
.news__container--small {
  padding-top: 1.6rem;
}
.news__item {
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.news__head {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
}
.news__head--big {
  margin-bottom: 1.2rem;
}
.news__head--small {
  margin-bottom: 0.8rem;
}
.news__info-block {
  display: flex;
}
.news__info {
  font-size: 1.4rem;
  line-height: 150%;
  color: #787a80;
}
.news__info:not(:last-child) {
  border-right: 1px solid #787a80;
  padding-right: 1.2rem;
}
.news__info:not(:first-child) {
  padding-left: 1.2rem;
}
.news__info--comments {
  display: flex;
  align-items: center;
}
.news__info--comments::before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
  background-image: url(../img/news--comments.svg);
}
.news__text {
  font-size: 1.6rem;
  line-height: 160%;
}

.request {
  background-image: url(../img/request--bg.jpg);
  background-size: cover;
}
.request__wrapper {
  padding: 8rem 0;
  display: flex;
  justify-content: flex-end;
}
.request__content {
  padding: 4.8rem 4rem;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
}
.request__field {
  align-items: center;
  margin-top: 0.4rem;
}
.request__form {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.request__form .form__field {
  margin-right: 0;
  width: 41.5rem;
}
.request__form .form__field:not(:last-child) {
  margin-bottom: 2rem;
}
.request__form .form__input, .request__form .form__textarea {
  width: 100%;
}
.request__title {
  margin-bottom: 2.4rem;
}
.request__label {
  margin-bottom: 0.6rem;
}

.footer {
  background-color: #1e212c;
  color: #fff;
}
.footer__wrapper {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: minmax(auto, 47.4rem) 26rem auto;
  grid-template-rows: auto auto auto;
}
.footer__main {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-bottom: 7.2rem;
}
.footer__head {
  display: flex;
  margin-bottom: 2.4rem;
}
.footer__logo {
  width: 14.2rem;
  margin-right: 6rem;
}
.footer__social {
  display: flex;
}
.footer__social li:not(:last-child) {
  margin-right: 1.6rem;
}
.footer__icon {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  opacity: 0.6;
}
.footer__icon:hover {
  opacity: 1;
}
.footer__icon--whatsapp {
  background-image: url(../img/footer--whatsapp.svg);
}
.footer__icon--messanger {
  background-image: url(../img/footer--messanger.svg);
}
.footer__icon--facebook {
  background-image: url(../img/footer--facebook.svg);
}
.footer__icon--twitter {
  background-image: url(../img/footer--twitter.svg);
}
.footer__icon--youtube {
  background-image: url(../img/footer--youtube.svg);
}
.footer__text {
  font-size: 1.4rem;
  line-height: 150%;
  opacity: 0.6;
}
.footer__subscribe {
  grid-column: 3/4;
  grid-row: 1/2;
}
.footer__form-title {
  font-size: 2.4rem;
  line-height: 150%;
  margin-bottom: 2.4rem;
}
.footer__form {
  margin-bottom: 1.6rem;
}
.footer__input {
  padding: 1.3rem 1.6rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  outline: none;
  font-size: 1.4rem;
  width: 34.9rem;
  color: #fff;
  transition: all 0s;
}
.footer__input:focus {
  outline: 2px solid #ff5a30;
}
.footer__form-remark {
  font-size: 1.2rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}
.footer__btn {
  margin-left: -0.2rem;
  border-radius: 0 4px 4px 0;
}
.footer__contacts {
  grid-column: 1/2;
  grid-row: 2/3;
}
.footer__title {
  letter-spacing: 1px;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}
.footer__links--left {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 6rem;
}
.footer__links--right {
  grid-column: 3/4;
  margin-bottom: 6rem;
}
.footer__link {
  font-size: 1.6rem;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.footer__link--white {
  color: #fff;
}
.footer__link:hover {
  color: #fff;
}
.footer__link:not(:last-child) {
  margin-bottom: 0.4rem;
}
.footer__copyright {
  font-size: 1.2rem;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.footer__copyright-icon {
  margin: 0 0.4rem;
}

.subsection {
  background-color: #f4f5f6;
  background-position-x: right;
  padding: 15.2rem 0 18rem;
  margin-top: -9.2rem;
}
.subsection--services {
  background-image: url(../img/subsection-services--bg.png);
}
.subsection--work {
  background-image: url(../img/subsection-work--bg.png);
}
.subsection__container {
  max-width: 60rem;
}
.subsection__pagination {
  font-size: 1.4rem;
  line-height: 150%;
  margin-bottom: 4rem;
}
.subsection__pagination--light {
  color: #9A9CA5;
}
.subsection__title {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}
.subsection__description {
  font-size: 2rem;
  line-height: 150%;
  color: #787A80;
}

.s-services {
  padding: 12rem 0 18rem;
}
.s-services__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8rem;
  align-items: center;
}
.s-services__item:not(:last-child) {
  margin-bottom: 12rem;
}
.s-services__item--reverse .s-services__img {
  grid-column: 2/3;
}
.s-services__item--reverse .s-services__info {
  grid-column: 1/2;
  grid-row: 1/2;
}
.s-services__img {
  width: 57.5rem;
}
.s-services__title {
  font-size: 3.2rem;
  line-height: 150%;
  color: #1E212C;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.s-services__description {
  font-size: 1.6rem;
  line-height: 160%;
  color: #787a80;
  margin-bottom: 4.8rem;
}

.w-projects {
  margin-top: -6rem;
}
.w-projects__tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 12rem;
}
.w-projects__tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 15.4rem;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 160%;
  color: #9A9CA5;
  background: #fff;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.w-projects__tab:hover {
  color: #000;
}
.w-projects__tab--active {
  background-color: #ff5a30;
  color: #fff;
}
.w-projects__tab--active path {
  fill: #fff;
}
.w-projects__tab--active:hover {
  color: #fff;
}
.w-projects__icon {
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 1.6rem;
}
/*# sourceMappingURL=style.css.map */
