.button {
  cursor: pointer;
  border: none;
  background-color: $color-active;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5rem 3.2rem;

  &:hover {
    background-color: $color-active-hover;
  }
}

.slider-btn {
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  transition: all 0.2s;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-text-stroke-width: thick;
}

.outline-btn {
  cursor: pointer;
  border: 1px solid $color-active;
  border-radius: 4px;
  color: $color-active;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 3.2rem;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s;

  &:hover {
    background-color: $color-active;
    color: #fff;
  }
}
