.history {
  padding: 8rem 0 10rem;
  text-align: center;
  background-color: #f4f5f6;

  &__cards {
    margin-bottom: 18rem;
  }

  &__content {
    text-align: left;
  }

  &__left {
    & li {
      background-image: linear-gradient(
        to bottom,
        #9a9ca5,
        #9a9ca5 1.6rem,
        transparent 1.6rem,
        transparent 2.7rem,
        #9a9ca5 2.7rem
      );
      background-size: 1px 100%;
      padding-left: 3.2rem;

      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }

    & .active .history__tab {
      color: $color-active;

      &::before {
        background-color: $color-active;
      }
    }
  }

  &__tab {
    font-size: 2.8rem;
    line-height: 150%;
    color: #9a9ca5;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      background-color: #9A9CA5;
      position: absolute;
      left: -3.5rem;
      top: 1.2rem;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-right: 1.2rem;
  }

  &__slider {
    width: 81rem;
    overflow: hidden;
  }

  &__slide-img {
    width: 81rem;
    margin-bottom: 3.6rem;
  }

  &__slide-text {
    font-size: 1.6rem;
    line-height: 160%;
    color: #424551;
  }

  &__slider-wrapper {
    display: flex;
  }
}
