.main {
  &__main {
    height: 98.8rem;
    position: relative;
  }

  &__wrapper {
    width: 64vw;
  }

  &__slide {
    width: 100vw;
    padding-top: 22rem;
    min-width: 100vw;
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
  }

  &__slide-wrapper {
    width: 57.7rem;
  }

  &__slider-wrapper {
    height: 100%;
    display: flex;
    transition: transform 1s cubic-bezier(0.33, 1, 0.68, 1);
  }

  &__header {
    font-size: 7.2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 9.3rem;
    margin-bottom: 2.4rem;

    &--primary {
      color: $color-active;
    }
  }

  &__description {
    font-size: 2rem;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 6rem;
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.8rem 4rem;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 2.4rem;
    }

    &:hover {
      border: 1px solid $color-active;
      background-color: $color-active;
    }
  }

  &__slider {
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }

  &__slider-counter {
    display: flex;
    color: rgba(#fff, 0.3);

    &-wrapper {
      position: absolute;
      left: 0;
      bottom: 12rem;
      z-index: 3;
      width: 100%;
    }
  }

  &__slider-count {
    width: 17.8rem;
    background-image: linear-gradient(to right, #fff , #fff 50%, rgba(#fff, 0.3) 50%, rgba(#fff, 0.3) 100%);
    background-size: 200% 2px;
    background-position-y: bottom;
    background-position-x: right;
    font-size: 2.8rem;
    padding: 0.7rem 0;
    transition: all 1s;

    &:not(:last-child) {
      margin-right: 0.4rem;
    }

    &--active {
      color: #fff;
      background-position-x: left;
    }
  }

  &__slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 3.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__slider-btn {
    background-color: rgba(#fff, 0.5);

    &:hover {
      background-color: #fff;
    }
  }
}
