.n-news {
  padding: 12rem 0 18rem;
  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__tabs {
    display: flex;
    margin-bottom: 6rem;

    & li {
      width: 20.5rem;
      text-align: center;
    }
  }

  &__tab {
    font-size: 1.6rem;
    line-height: 160%;
    font-weight: 700;
    color: #9a9ca5;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    padding: 1rem 0;

    &:hover {
      color: $color-active;
    }

    &--active {
      color: $color-active;
      border: 1px solid $color-active;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 6rem;
    margin-bottom: 6rem;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__nav {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 160%;
    color: #424551;

    &--arrow {
      -webkit-text-stroke-width: thick;
    }

    &:hover {
      border-bottom: 1px solid #424551;
    }

    &--active {
      color: $color-active;

      &:hover {
        border: none;
      }
    }
  }
}
