.nav {
  &__list {
    display: flex;

    & li:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__item {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2.5rem;

    &--active {
      color: $color-active;
    }

    &:hover {
      color: $color-active;
    }
  }

  &__actions {
    display: flex;
    margin: 0 0 0 auto;

    & li:not(:last-child) {
      margin-right: 3.6rem;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    transition: all .2s;

    &:hover {
      .nav__action--contacts {
        color: $color-active;
      }
    }

    &::before {
      content: "";
      display: block;
      margin-right: 1.2rem;
      width: 4rem;
      height: 4rem;
      background-position: center top;
      background-size: 4rem 4rem;
    }

    &--tel {
      background-image: url(../img/header--tel.svg);
    }

    &--email {
      background-image: url(../img/header--email.svg);
    }

    &--name {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2.1rem;
    }

    &--contacts {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }
}
