.projects {
  padding: 12rem 0;

  &__slider {
    overflow: hidden;
    padding-bottom: 8rem;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6rem;
  }

  &__slider-btn {
    background-color: transparent;

    &:hover {
      background-color: $color-active;
      color: #fff;
    }
  }

  &__slider-wrapper {
    display: flex;
    gap: 3rem;
    transition: all 0.2s;
  }
}
