.subsection {
  background-color: #f4f5f6;
  background-position-x: right;
  padding: 15.2rem 0 18rem;
  margin-top: -9.2rem;

  &--services {
    background-image: url(../img/subsection-services--bg.png);
  }

  &--work {
    background-image: url(../img/subsection-work--bg.png);
  }

  &__container {
    max-width: 60rem;
  }

  &__pagination {
    font-size: 1.4rem;
    line-height: 150%;
    margin-bottom: 4rem;

    &--light {
      color: #9A9CA5;
    }
  }

  &__title {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
  }

  &__description {
    font-size: 2rem;
    line-height: 150%;
    color: #787A80;
  }
}
