.w-clients {
  background-color: #f4f5f6;
  padding-top: 8rem;

  &__additional {
    padding: 18rem 0 10rem;
    margin-top: -6rem;
    background-color: #fff;
    text-align: center;
  }

  &__list {
    margin-bottom: 0;
  }
}
