.w-projects {
  margin-top: -6rem;
  padding-bottom: 10rem;

  &__tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 12rem;
  }

  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 15.4rem;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 160%;
    color: #9A9CA5;
    background: #fff;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 80px 80px -20px rgba(154, 156, 165, 0.08);

    &:hover {
      color: #000;
    }

    &--active {
      background-color: $color-active;
      color: #fff;

      & path {
        fill: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 1.6rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  &__btn-more {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 160%;
    color: #424551;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 6rem auto 0;

    &:hover {
      color: $color-active;

      & path {
        fill: $color-active;
      }
    }
  }

  &__btn-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.6rem;
  }
}
